@media only screen and (max-width: 739px) {
  .none {
    /* display: none !important; */
  }
  .root {
    min-width: 120px !important;
    width: calc(40% - 70px) !important;
  }
  .scroll {
    padding: 0 0px 10px 20px !important;
  }
}
